.content {
    display: flex;
    flex-direction: column;
  }
  
  div { 
    margin: 50px auto;
  }
  
  .btn {
    padding: 15px;
    font-weight: 700;
    font-size: 24px;
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
    text-align: center;
    transition: all .5s ease; 
  }
  
  
  
  .btn--promo {
    color: #fff;
    background-color: #433add;
    border-radius: 50px;
  }
  
  .btn--promo:after {
    content: 'FOR FREE';
    display: inline-block;
    font-size: 15px;
    color: #fff;
    background-color: #34A853;
    border-radius: 25px;
    padding: 5px;
    position: absolute;
    margin-top: -25px; 
    margin-left: -40px; 
  }

  .btn--promo:hover {
    background-color:transparent;
    box-shadow: 0px 0px 10px #4f46ed;
    padding-left: 30px;
    padding-right: 30px;
  }

  .btn--premium {
    color: #fff;
    background-color: #34A853;
    border-radius: 50px;
  }
  
  .btn--premium:after {
    content: '50% OFF';
    display: inline-block;
    font-size: 15px;
    color: #34A853;
    background-color: #ffffff;
    border-radius: 25px;
    padding: 5px;
    position: absolute;
    margin-top: -25px; 
    margin-left: -40px; 
  }

  .btn--premium:hover {
    background-color:transparent;
    box-shadow: 0px 0px 10px #34A853;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .btn--free {
    color: #fff;
    background-color: #34A853;
    border-radius: 50px;
  }
  
  .btn--free:after {
    content: 'FREE';
    display: inline-block;
    font-size: 15px;
    color: #34A853;
    background-color: #ffffff;
    border-radius: 25px;
    padding: 5px;
    position: absolute;
    margin-top: -25px; 
    margin-left: -20px; 
  }

  .btn--free:hover {
    background-color:transparent;
    box-shadow: 0px 0px 10px #34A853;
    padding-left: 30px;
    padding-right: 30px;
  }

  .headerbtn {
    color: #fff;
    background-color:transparent;
    border-radius: 20px;
    border: 2px solid #433add;
    font-size: 15px;
    width: 80px;
    color: #433add;
    transition: all .2s ease-in-out; 
    margin-right: 5px;
  }
  
  .login {
    color: #fff;
    background-color: #433add;
    border-radius: 20px;
    border: 2px solid #433add;
    font-size: 15px;
    width: 80px;
    color: #433add;
    transition: all .2s ease-in-out; 
  }

  .headerbtn:hover {
    background-color:transparent;
    border-radius: 50px;
    transform: scale(1.05); 
    box-shadow: 0px 0px 15px #4f46ed;
    
  }

  .login:hover {
    background-color:transparent;
    border-radius: 50px;
    transform: scale(1.05); 
  }