html, body {
height: 100%;
width: 100%;
min-height: 100%;
font-family: Helvetica;
font-size:32px;
font-weight: bold;
color: #fff;
background-color:#09090d;
scroll-behavior: smooth;
overflow-x: hidden; /* Hide horizontal scrollbar */
-webkit-touch-callout: none; /* iOS Safari */
-webkit-user-select: none; /* Safari */
 -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                              supported by Chrome, Edge, Opera and Firefox */

}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255,255,255,0.15); 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,255,255,0.1); 
}

.centerdiv {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%) 
}
.centerimage {
    margin-left: auto;
    margin-right: auto;
    width:50%;
    height:50%;
}
.title {
    color:#fff;

}
.subtitle {
    color:rgba(255,255,255,0.2);
    font-weight: 400;
    font-size:24px;
    font-weight: normal;
}



.example {

    width: 100%;
    max-width: 1000px;

}

.featurebox {
    width:80%; 
    max-width:400px; 
    height:100%; 
    background-color: 09090d;	
    box-shadow:0px 0px 5px #ccc; 
    padding-top:50px; 
    padding-bottom: 50px; 
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 25px;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

  .container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container p {
    font-size: 3rem;
    padding: 0.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
  }
  span.typed-text {
    color: #433add;
    
  }
  .cursor {
    display: inline-block;
    background-color: #fff;
    margin-left: 0.3rem;
    width: 10px;
    animation: blink 1s infinite;
  }
  .cursor.typing {
    animation: none;
  }
  @keyframes blink {
    0%  { background-color: #fff; }
    49% { background-color: #fff; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #fff; }
  }
  /* Create three equal columns that floats next to each other */
  
.column {
  float:left;
    width: calc(100% - 8vw);
    padding: 10px;
    max-width:400px; 
    height:600px;
    padding-top:50px; 
    padding-bottom: 50px; 
    border-radius: 25px;
    margin: 10px;
    background-color:rgb(24, 24, 30, 1);
    border-radius: 25px;
    border: 2px solid #121212;
    left: 50%;

  }

.cont {
    position: absolute;
    text-align: center;
    width: 100%;
    max-width: 1335px;
    left: 50%;
    transform: translate(calc(-50%));
  }

  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    
  }

  :root {
    --borderWidth: 8px;
    --height: 20px;
    --width: 8px;
    --borderColor: #34A853;
  }


  .check {
    display: inline-block;
    transform: rotate(45deg);
    height: var(--height);
    width: var(--width);
    border-bottom: var(--borderWidth) solid var(--borderColor);
    border-right: var(--borderWidth) solid var(--borderColor);
  }


  .footer {
    position: absolute;  
    animation-timing-function: linear;
    animation: cycle 3s infinite;
    min-width: 100%;
    height: 0px;
    border-radius: 25px;
    bottom: -200px;
  }
  @keyframes cycle {
    
    0%  {  border: 2px solid #4f46ed; box-shadow: #4f46ed 0px 0px 15px;}
    50% {  border: 2px solid rgba(255,255,255,0.1); box-shadow: #4f46ed 0px 0px 3px;}
    100%  { border: 2px solid #4f46ed; box-shadow: #4f46ed 0px 0px 15px; }
  }